.light-backgrounds {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.light-backgrounds,
.bg-one,
.bg-two,
.bg-three,
.bg-four,
.bg-five,
.bg-six {
    position: absolute;
}

.bg-one {
    top: 5%;
    left: 0;
}

.bg-two {
    top: 49%;
    left: 51%;
}

.bg-three {
    left: 50%;
}
.bg-four {
    top: 25%;
    right: -2%;
}
.bg-six {
    top: 30rem;
    left: 10px;
}

.bg-five {
    bottom: 22%;
    right: 3%;
}