.light-backgrounds {
    height: 100%;
    width: 100%;
}
.light-backgrounds,
.bg-one,
.bg-two,
.bg-three,
.bg-four,
.bg-five,
.bg-six {
    position: absolute;
}

.bg-one {

}

.bg-two {

}

.bg-three {

}

.bg-six {
    top: 30rem;
    left: 0px;
}

.bg-five {
    bottom: 30%;
}