.footer {
    background: rgba(225, 161, 237, 0.3);
}
.footer__bold {
    font-weight: var(--thick);
}
li {
    list-style-type: none;
    padding: 8px 0;
}
@media (min-width: 630px) {
    .footer__information {
        margin-top: 0;
    }
}