mentors-section {
    height: 100%;
}

.mentors-images {
    position: relative;
    height: 65%;
}

.person-one,
.person-three {
    position: relative;
    left: 150px;
}

.person-one {
    top: 42px;
}
.person-three {
    bottom: 40px;
}
.words>p {
    margin-top: 10px;
}
@media (max-width: 500px) {
    .mentors-images {        
        left: -25px;
    }
}