*,
*::before,
*::after {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #000;
    --purple: #E1A1ED;
    --bright-purple: rgba(225, 161, 237, 0.2);
    --deep-purple: rgba(75, 0, 89, 1);
    --basic: 400;
    --thick: 700;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: var(--thick);
}

body {
    margin: 0;
    font-weight: var(--basic);
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}
