@media (max-width: 992px) {
    .navigation-list {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }
    .hamburger {
        display: block;
        border: 0;
        width: 38px;
        height: 15px;
        padding-top: 0;
    }
}

h5 {
    font-weight: var(--basic);
}

ul.navigation-list li {
    padding: 0 20px;
    text-transform: uppercase;
}